.interior {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.fata, .spate {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: linear-gradient(to bottom right, #669999 0%, #ff6600 100%);
}

.fata {
}

.spate {
  transform: rotateY(180deg);
}

#body1:hover .interior {
  transform: rotateY(180deg);
}

#body2:hover .interior {
  transform: rotateY(180deg);
}

#body3:hover .interior {
  transform: rotateY(180deg);
}
